.banner { 
  background-image: linear-gradient(-255deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%), url(../../Images/Logo.png);
  color: white;
  padding: 0px 100px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 50px;
}
.banner h2 { 
  font-size: 80px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 70px;
}